# Linear Regression: Training and Testing
## Sources: 
1. <a href="https://pythonprogramming.net/training-testing-machine-learning-tutorial/" target="_blank">Python Programming: Regression - Training and Testing</a>

In the previous notebooks, we learned what linear regression is, what features and labels are, and why as well as how to scale the features.  In this notebook, we will train and test our data.

In [1]:
# Import dependencies
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
# Raise errors instead of give warnings
pd.set_option("mode.chained_assignment", "raise")

In [3]:
# Import data
import os
data_file_path = os.path.join("Data","stock_data.csv")

stock_data = pd.read_csv(data_file_path, index_col="Date")
display(stock_data.head())

,Adj. Close,High_Low_Volatility_Percent,Daily_Percent_Change,Adj. Volume,Forecast
Date,,,,,
2004-08-19,50.322842,8.441017,0.324968,44659000.0,69.078238
2004-08-20,54.322689,8.537313,7.227007,22834300.0,67.839414
2004-08-23,54.869377,4.062357,-1.227880,18256100.0,68.912727
2004-08-24,52.597363,7.753210,-5.726357,15247300.0,70.668146
2004-08-25,53.164113,3.966115,1.183658,9188600.0,71.219849

In [4]:
# Define features
X = np.array(stock_data.drop(["Forecast"], 1))

# Define labels
y = np.array(stock_data["Forecast"])

### Note!

Recall that we engineered the labels column—or the Forecast column—by shifting the values in the Adj. Close column up 35 values.  This would mean that the last 35 rows in the Forecast column have no value.  We will show this more clearly by looking at the last 37 rows of the dataframe.

In [5]:
# Define the number of days out we want to forecast
# In this case, want to forecast out 1% of the dataframe
import math
forecast_out = math.ceil(0.01*len(stock_data))

# Preview last 35 columns of data
display(stock_data.tail((forecast_out+2)))

,Adj. Close,High_Low_Volatility_Percent,Daily_Percent_Change,Adj. Volume,Forecast
Date,,,,,
2018-02-02,1119.20,1.811604,-0.729098,5798880.0,1054.09
2018-02-05,1068.76,5.512236,-2.893850,3742469.0,1006.94
2018-02-06,1084.43,5.569849,4.879205,3732527.0,NaN
2018-02-07,1055.41,3.025734,-2.724499,2544683.0,NaN
2018-02-08,1005.60,5.851043,-5.120439,3067173.0,NaN
2018-02-09,1043.43,5.488465,1.710726,4436032.0,NaN
2018-02-12,1054.56,1.920631,-0.199684,2796258.0,NaN
2018-02-13,1054.14,1.365911,0.394286,1574121.0,NaN
2018-02-14,1072.70,2.445228,1.743304,2029979.0,NaN
2018-02-15,1091.36,2.517733,0.730075,1806206.0,NaN
2018-02-16,1095.50,1.535431,0.193894,1971928.0,NaN
2018-02-20,1103.59,2.411927,0.991068,1646405.0,NaN
2018-02-21,1113.75,2.590496,0.419259,2024534.0,NaN
2018-02-22,1109.90,1.837760,-0.828292,1386115.0,NaN
2018-02-23,1128.09,1.854859,0.842973,1234539.0,NaN
2018-02-26,1143.70,1.315813,1.046066,1489118.0,NaN
2018-02-27,1117.51,2.458833,-2.289936,2094863.0,NaN
2018-02-28,1103.92,2.234814,-1.611408,2431023.0,NaN
2018-03-01,1071.41,4.120717,-3.436559,2766856.0,NaN
2018-03-02,1084.14,3.502490,2.472637,2508145.0,NaN
2018-03-05,1094.76,2.696149,1.542486,1432369.0,NaN
2018-03-06,1100.90,1.016903,-0.108883,1169068.0,NaN
2018-03-07,1115.04,2.412126,2.033272,1537429.0,NaN
2018-03-08,1129.38,1.274615,1.090226,1510478.0,NaN
2018-03-09,1160.84,2.354777,1.872751,2070174.0,NaN
2018-03-12,1165.93,1.635611,0.075533,2129297.0,NaN
2018-03-13,1139.91,3.827882,-2.723945,2129435.0,NaN
2018-03-14,1148.89,1.524051,0.269681,2033697.0,NaN
2018-03-15,1150.61,2.363383,0.090469,1623868.0,NaN
2018-03-16,1134.42,2.249505,-1.811572,2654602.0,NaN
2018-03-19,1100.07,2.796349,-1.582630,3076349.0,NaN
2018-03-20,1095.80,2.136878,-0.236708,2709310.0,NaN
2018-03-21,1094.00,1.976619,0.130884,1990515.0,NaN
2018-03-22,1053.15,3.265882,-2.487014,3418154.0,NaN
2018-03-23,1026.55,4.089299,-2.360729,2413517.0,NaN
2018-03-26,1054.09,4.818025,0.332191,3272409.0,NaN
2018-03-27,1006.94,6.707965,-5.353887,2940957.0,NaN

Therefore, we should also adjust our features $X$ and labels $y$ such that it excludes the last 35 values.  That is, we will only go up to the ($\alpha - 35)^{th}$ value, where $\alpha$ is the length of the array.

In [6]:
# Define the number of days out we want to forecast
# In this case, want to forecast out 1% of the dataframe
import math
forecast_out = math.ceil(0.01*len(stock_data))

# Only include values up until the row before the Forecast values become null
# or rather, exclude the last 1% of values
# Recall that when specifying a range,
# Python excludes the last value
X = X[:-forecast_out]
y = y[:-forecast_out]

In [7]:
# Confirm features and labels are the same length
length_of_features = len(X)
length_of_labels = len(y)

print(f"Length of features: {length_of_features}")
print(f"Length of labels: {length_of_labels}")

Length of features: 3389
Length of labels: 3389

### Training and Testing

When building a machine learning model, you will usually split your data into training and testing sets.  The training set is passed into the classifier so that it can build the equation used to make predictions.  The testing set can then be used to measure the accuracy of the classifier.

In [8]:
# Define training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
# Define which classification algorithm we are using
classifier = LinearRegression()

In [10]:
# Fit- or train- the classifier
classifier.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
# Print the score—or accuracy—of the classifier
print(classifier.score(X_test, y_test))

0.9765288432062672